@import url(reset.css);
.header{
    width: 100%;
    height: 65vh;
    background-image: url(img/1111.webp);
    background-color:#6226ba;
    background-position:right;
    background-repeat: no-repeat;
    background-size: 45vw;
    background-position-y: 7vh;
    padding: 0 100px;
}
nav{
    height: 70px;
}
.nav-ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}
.nav-ul li{
    height: 40px;

    padding:5px 15px;
    font-size: 20px;
    transition: .5s;
    color: #fafafa;
    text-transform: capitalize;
}
.nav-ul li:hover{
    color: #43b6e7;
    border-bottom: 1px solid #43b6e7b4;
    cursor: pointer;
}
.nav-ul li:first-child{
    border: 1px solid black;
    background-color: #43b6e7;
    border: none;
}
.nav-ul li:first-child:hover{
    
    color: #fafafa;
    border-bottom: none;
    background-color: #43b6e7c5;
}
.nav-ul li:last-child{
    width: 200px;
    height: 100%;
    margin-top: 5px;
    margin-right: auto;
}
.nav-ul li:last-child:hover{
    cursor: none;
    border: none;
}
.nav-ul li:last-child img{
    width: 100%;
    height: 100%;
    
}
.header-txt{
    width: 30vw;
    margin-top: 90px;
}
.header-txt *{
    margin-top: 20px;
    color: #fafafa;
}
.header-txt h1{
    font-size: 45px;
}
.header-txt p{
    font-size: 12px;
}
.header-txt button{
    padding: 10px 20px;
    background-color: #43b6e7c5;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 35px;
}
/* *****************end header / start section 1 ****************** */
.section-1{
    width: 100%;
    min-height: 60vh;
    background-image: url(img/section1.webp);
    background-position:left;
    background-repeat: no-repeat;
    background-size: 55vw;
    background-position-y: 7vh;
    padding:150px 350px ;
}
.box-s1{
    width: 35%;
    margin-left: auto;
}
.box-s1 h2{
    font-size: 35px;
}
.section-1-box-arror-text{
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}
.arrow{
    width: 30px;
    margin-right: 20px;
    margin-top: 5px;
    
}
.arrow img{
    width: 100%;
}
.box-txt-arrow h3{
    font-size:20px ;
    text-transform: capitalize;
}
.box-txt-arrow p{
    font-size:14px ;
    color: gray;
    text-transform: capitalize;
}
/* *******************end section 1************ */
.section-2{
    padding:10px 350px ;
   
}
.box-4div{
    margin-top: 80px;
display: flex;
gap: 40px;
}


.section-2 h2{
text-align: center;
font-size: 35px;
}
.card-section2 ,.card-section3{
/* background-color: #6226ba; */
width:300px ;
height: 400px;
text-align: center;
padding:50px 20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
cursor: pointer;
transition: 0.5s;
border-radius: 5px;
}
.card-section2 img{
    width: 40%;
    margin-bottom: 65px;
}
.card-section2 h3{
    margin-bottom: 5px;
    /* transition: .2s; */
}
.card-section2 p{
    color: gray;
    margin-bottom: 5px;
    transition: .2s;
    /* transition:all 0.5s ease-in; */
}
.card-section2:hover{
    background-image: url(img/wave-haikei\ \(2\).svg);
    color: #fafafa;
    transition:0.4s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-section2:hover p{
    color: #fafafa;
   
}
/* ***********************end section2********** */
.section-3{
    padding:100px 350px;
}
.section-3 h2{
    text-align: center;
    font-size: 35px;
}
.p-light{
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}
.light-box{
    margin: 0 10px;
    width: 80px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #43b6e7c5;
    background-color: #a2d6ec6c;
    border-radius:20px;
    position: relative;
    cursor: pointer;
}
.light-box::before{
    content: "";
    width: 35px;
    height: 26px;
    background-color: #43b6e7;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius:20px;
}
.line{
width: 50%;
height: 2px;
background-color: gray;
display: inline-block;
position: relative;
}
.line::before{
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius:20px;
}
.line::after{
    content: "";
    width: 7px;
    height: 7px;
    background-color: black;
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius:20px;
}
.price{
    margin-top: -10px;
    font-size: 30px;
}
.price span{
    font-size: 40px;
}
.first-p{
    margin-top: 50px;
    
}
.section-3 button{
    padding: 10px 40px;
    margin-top: 30px;
    text-transform: capitalize;
    color: #43b6e7;
    border: none;
    font-weight: bolder;
    background-color: #a2d6ec6c;
    border-radius: 3px;
}
.card-section3{
    transition: 0.5s;
    border-radius: 5px;
}
.card-section3:hover{
background-image: url(img/wave-haikei\ \(4\).svg);
box-shadow: rgba(80, 33, 128, 0.597) 2px 3px 10px,rgba(69, 29, 101, 0.23) 0px 3px 6px ;
/* animation:  anime 2s; */

}
/* @keyframes anime{
 0%{
 opacity: 0;
 }
 100%{
    opacity: 100%;
 }
} */
.card-section3:hover h3 {
color: #fafafa;
transition: 0.5s;
}
.card-section3:hover p:nth-of-type(1) {
    color: #fafafa;
    transition: 0.5s;
    }

.box-card-s3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap:40px;
}
/* *****************************end section 3************* */
.section-4{
    padding:100px 350px;
}
.center{
    text-align: center;
}
.section-4 p {
    color: gray;
}
.box{
margin-top: 40px;
width: 25%;
padding: 10px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;transition: 0.5s;
border-radius: 5px;
}
.box-section-4{
display: flex;
justify-content: center;
gap: 40px;
}
.box:hover{
    box-shadow: rgba(153, 20, 202, 0.606) 0px 1px 4px;
}
.box:hover i{
color: gray;
}
.box1-sction4{
    display: flex;
    padding: 20px 0;
   
}
.box-comma{
    /* position: absolute; */
    height: max-content;
    margin-top: -25px;
    transform:rotate(180deg);
}
.ti-quote{
    font-size: 50px;
    transition: 0.5s;
}
.img-box-section4{
    display: flex;
    margin-top: 5px;
    padding: 10px 20px;
    gap: 10px;
}
.img-box-section4 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.name p{
    color: black;
}
.box-circle{
    margin-top: 40px;
    text-align: center;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #43b6e7;
    display: inline-block;
    transition: 0.5s;
}
.circle:hover{
    width: 20px;
    border-radius: 20px;
}
/* ****************section last*********** */
.box2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}
.article{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 20%;
    border-radius: 5px;
    padding-bottom: 30px;
}
.article img{
    width: 100%;
    height: 200px;
}
.article ul{
    display: flex;
    padding: 20px 30px 20px 10px;
    justify-content: space-between;
    
}
.article ul li{
    list-style: none;
    
}
.article h3 , .article p{
    padding-left: 10px;
}
.article p{
    margin:20px 50px 5px 0;
}
.article button{
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 5px;
    border: none;
    background-color: #43b6e7;
    color: #fafafa;
}


/* *************start footer*********** */
.footer{
    min-height:400px ;
    background-color: rgb(0, 0, 0);
    padding:50px 50px 10px 100px;
}
.section1-footer{
    display: flex;
    color: #fafafa9f;
    gap: 200px;
}
.box1-footer{
    width: 15%;
    padding: 0px 20px;
}
.box1-footer *{
}
.box1-footer img{
    width: 120px;
    margin-bottom: 15px;
}
.icon {
    display: flex;
    justify-content:space-between;
    margin-top: 15px;

}
.box2-footer h3{
    text-transform: capitalize;

}
.footer-ul{
    margin-top: 30px;
}
.footer-ul li{
    list-style: none;
    text-transform: uppercase;
    line-height: 35px;
}
.box2-footer p{
    margin: 40px 0;
}
.search{
    width:100%;
    height:40px;
    position: relative;
    background-color: #fafafae2;
    border: 1px solid #43b6e7;
}
.search::after{
    content: "search";
    width: 50px;
    height: 39px;
    background-color: #43b6e7;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 8px;
    font-size: 14px;
    text-align: center;
}
.search:empty:before {
    content:"finde addres...";
    color:gray;
    position: absolute;
    top: 7px;
    left: 10px;
  }
  .copy{
  
    margin-top: 50px;
    width: 100%;
    height: 100px;
    border-top: 2px solid rgba(128, 128, 128, 0.349);
    display:flex ;
    justify-content: center;
    align-items: center;
  }
  .copy p{
    color:#fafafa9f ;
  }