*, *::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height: 100%;
}
.box{
   width: max-content;
    height: max-content;
    padding:20px 50px;
    background-color: #B9F3FC;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
}
.txt{
    color: #3A4F7A;
    font-size: 20px;
}