@import url(reset.css);
.header{
    width: 100%;
    height: 65vh;
    background-image: url(img/1111.webp);
    background-color:#6226ba;
    background-position:right;
    background-repeat: no-repeat;
    background-size: 45vw;
    background-position-y: 7vh;
    padding: 0 100px;
}
nav{
    height: 70px;
}
.nav-ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}
.nav-ul li{
    height: 40px;

    padding:5px 15px;
    font-size: 20px;
    transition: .5s;
    color: #fafafa;
    text-transform: capitalize;
}
.nav-ul li:hover{
    color: #43b6e7;
    border-bottom: 1px solid #43b6e7b4;
    cursor: pointer;
}
.nav-ul li:first-child{
    border: 1px solid black;
    background-color: #43b6e7;
    border: none;
}
.nav-ul li:first-child:hover{
    
    color: #fafafa;
    border-bottom: none;
    background-color: #43b6e7c5;
}
.nav-ul li:last-child{
    width: 200px;
    height: 100%;
    margin-top: 5px;
    margin-right: auto;
}
.nav-ul li:last-child:hover{
    cursor: none;
    border: none;
}
.nav-ul li:last-child img{
    width: 100%;
    height: 100%;
    
}
.header-txt{
    width: 30vw;
    margin-top: 90px;
}
.header-txt *{
    margin-top: 20px;
    color: #fafafa;
}
.header-txt h1{
    font-size: 45px;
}
.header-txt p{
    font-size: 12px;
}
.header-txt button{
    padding: 10px 20px;
    background-color: #43b6e7c5;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 35px;
}
/* *****************end header / start section 1 ****************** */
.section-1{
    width: 100%;
    min-height: 60vh;
    background-image: url(img/section1.webp);
    background-position:left;
    background-repeat: no-repeat;
    background-size: 55vw;
    background-position-y: 7vh;
    padding:150px 350px ;
}
.box-s1{
    width: 35%;
    margin-left: auto;
}
.box-s1 h2{
    font-size: 35px;
}
.section-1-box-arror-text{
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}
.arrow{
    width: 30px;
    margin-right: 20px;
    margin-top: 5px;
    
}
.arrow img{
    width: 100%;
}
.box-txt-arrow h3{
    font-size:20px ;
    text-transform: capitalize;
}
.box-txt-arrow p{
    font-size:14px ;
    color: gray;
    text-transform: capitalize;
}
/* *******************end section 1************ */
.section-2{
    padding:10px 350px ;
   
}
.box-4div{
    margin-top: 80px;
display: flex;
gap: 40px;
}


.section-2 h2{
text-align: center;
font-size: 35px;
}
.card-section2{
/* background-color: #6226ba; */
width:300px ;
height: 400px;
text-align: center;
padding:50px 20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
cursor: pointer;
transition: 0.5s;
}
.card-section2 img{
    width: 40%;
    margin-bottom: 65px;
}
.card-section2 h3{
    margin-bottom: 5px;
    transition: .2s;
}
.card-section2 p{
    color: gray;
    margin-bottom: 5px;
    transition: .2s;
    /* transition:all 0.5s ease-in; */
}
.card-section2:hover{
    background-image: url(img/wave-haikei\ \(2\).svg);
    color: #fafafa;
    transition:0.4s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-section2:hover p{
    color: #fafafa;
   
}